<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

    <title>Books categories</title>
  </head>
  <body>


    <div class="header">
      <a href="/" style="text-decoration:none;color:white;"><span class="header-content"><strong>Book</strong>Category.com</span></a>
      {%if 'username' not in session%}
        <a href="/login"class="button" id="login-button">login</a>
        {%else%}
          <a href="/logout"class="button" id="login-button">logout</a>
        {%endif%}
    </div>

      <!-- Side navigation -->

      <!-- Page content -->
      <div class="main" id="newitem-main">
        <h2 class="title">add new book in {{category.name}} category</h2>
        <div class="item-content">
          <form action="#" method = "post">
            <div class="form-group">
            <input type ="text" class="form-control" placeholder="name" name="name">
            <input type ="text" class="form-control" placeholder="description" name="desc">
            <button type="submit" class="button" id="submit" type="submit">
            <span class="" aria-hidden="true"></span>Create</button>
            <a href="{{url_for('showBooks', category_id = category.id)}}"class="button">Cancel</a>
            </div>
          </form>
        </div>
     </div>

  </body>
</html>
